<h1>Editing home page content</h1>

<%= render "form", home_page_content: @home_page_content %>

<br>

<div>
  <%= link_to "Show this home page content", @home_page_content %> |
  <%= link_to "Back to home page contents", home_page_contents_path %>
</div>
