<div id="<%= dom_id schedule %>">
  <p>
    <strong>Title:</strong>
    <%= schedule.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= schedule.location %>
  </p>

  <p>
    <strong>Online link:</strong>
    <%= schedule.online_link %>
  </p>

</div>
