<footer class="bg-dark text-center text-white mt-4">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Vos icônes pour les réseaux sociaux -->
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-size: 10px;">
      © 2024 Youri Soposki - All right reserved
    </div>
</footer>
