<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center"><%= @home_page_content.title %></h1>
      <h2 class="text-center"><%= @home_page_content.subtitle %></h2>

      <% if @home_page_content.photo.attached? %>
        <div class="text-center">
          <%= image_tag @home_page_content.photo, class: "rounded-circle img-thumbnail", style: "width: 100px; height: 100px;" %>
        </div>
      <% end %>

      <div class="content mt-4">
        <%= sanitize @home_page_content.content.to_s.html_safe %>
      </div>
    </div>
  </div>
</div>
