<div id="<%= dom_id contact_form %>">
  <p>
    <strong>Name:</strong>
    <%= contact_form.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_form.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact_form.message %>
  </p>

</div>
