<div id="<%= dom_id contact_form %>" class="container mt-5">
  <div class="card">
    <div class="card-header">
      Contact Details
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Name:</strong>
        <%= contact_form.name %>
      </p>

      <p class="card-text">
        <strong>Email:</strong>
        <%= contact_form.email %>
      </p>

      <p class="card-text">
        <strong>Message:</strong>
        <%= contact_form.message %>
      </p>
    </div>
  </div>
</div>
